{% extends "WtsdaAppBundle:Layouts:defaultWithSideBar.html.twig" %}

{% block navActAbout %} class="active"{% endblock %}

{% block head_title_tag_page %}{% trans %}app.title.about.text{% endtrans %}{% endblock %}

{% block leftContent %}
<h3>{% trans %}app.headers.about.text{% endtrans %}</h3>
    <p>{% trans %}app.debug.filler.bacon{% endtrans %}</p>
{% endblock %}

