{% extends "WtsdaAppBundle:Layouts:defaultWithSideBar.html.twig" %}

{% block navActAbout %} class="active"{% endblock %}

{% block head_title_tag_page %}About{% endblock %}

{% block leftWellContent %}
<h3>{% trans %}app.headers.about.text{% endtrans %}</h3>
    <p>
        Bacon ipsum dolor sit amet chuck shoulder spare ribs beef venison pork loin leberkas ribeye salami shank. Cow chuck pork loin short ribs leberkas, pig boudin capicola fatback bacon pastrami. Pork chop sirloin shoulder kevin, ball tip prosciutto kielbasa. Turkey boudin bacon pork belly cow pastrami spare ribs ham corned beef capicola andouille flank jowl pig pancetta. Sausage rump tail meatball tenderloin pork belly turducken, pastrami bresaola jerky frankfurter. Ribeye short loin rump, brisket t-bone chicken ham hock turducken filet mignon cow jerky leberkas. Ground round kielbasa tri-tip tail.

        Short ribs tail capicola jowl bacon t-bone, ribeye biltong flank meatloaf rump cow leberkas strip steak. Kevin sausage short loin corned beef andouille ground round drumstick. Tongue chuck strip steak, meatball capicola shankle doner jerky pancetta swine rump andouille. Beef pork chop ground round boudin frankfurter tongue bresaola bacon flank pork belly.

        Rump leberkas turkey bacon pork chop shank pig. Corned beef salami jowl, short ribs ground round strip steak pork chop turducken pig andouille. Pork belly chicken spare ribs kielbasa prosciutto frankfurter rump. Drumstick andouille pork frankfurter capicola, kielbasa rump short ribs.

        Salami turkey corned beef shankle chicken. Tongue turkey beef ribs, pastrami ground round cow filet mignon strip steak meatloaf andouille brisket chicken swine chuck fatback. Leberkas shankle ball tip pig drumstick jerky biltong kielbasa. Drumstick swine capicola, ball tip ham hock biltong pork loin rump kielbasa jerky leberkas pork belly. Pastrami chicken jowl t-bone pork chop shoulder bresaola pork spare ribs. Drumstick ball tip leberkas, short ribs pork chop boudin turducken turkey pork loin strip steak andouille frankfurter.
    </p>
{% endblock %}

