{% extends "WtsdaAppBundle:Layouts:defaultWithSideBar.html.twig" %}

{% block navActNews %} class="active"{% endblock %}

{% block head_title_tag_page %}News{% endblock %}

{% block leftWellContent %}
<h3>News</h3>
{% endblock %}
