{% extends "WtsdaAdminBundle:Layouts:ajaxContent.html.twig" %}

{% block header_left_title_icon %}fa-user{% endblock %}
{% block header_left_title_large %}Profiles{% endblock %}
{% block header_left_title_small %}Members{% endblock %}

{% block body_main_content %}

<section id="widget-grid" class="">

<!-- row -->
<div class="row">

<!-- NEW WIDGET START -->
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
Profiles!
</article>
<!-- WIDGET END -->

</div>

<!-- end row -->

<!-- end row -->

</section>
{% endblock %}