<div class="row hidden-mobile">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa {% block header_left_title_icon %}{% endblock %}"></i>
            {% block header_left_title_large %}{% endblock %} <span>&gt;
            {% block header_left_title_small %}{% endblock %} </span></h1>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align-right">
        <div class="page-title">
            {% block header_right_html %}{% endblock %}
        </div>
    </div>
</div>
{% block body_main_content %}{% endblock %}