{% extends "WtsdaAppBundle:Layouts:default.html.twig" %}

{% block body_container_main_content %}
    <div class="content padding">
        {% block leftContent %}{% endblock %}
    </div>
{% endblock %}
