{% extends "WtsdaAppBundle:Layouts:default.html.twig" %}

{% block body_container_main_content %}
    <div class="content padding">
        <div class="row-fluid">
            <div class="span9">
                {% block leftContent %}{% endblock %}
            </div>
            <div class="span3 sidebar pull-right tiles">
                <div class="tile" style="text-align: center;">
                    <h6>{% trans %}app.index.tiles.stayconnected{% endtrans %}</h6>
                    <br>
                    <p>
                        Join our mailing list
                        <form>
                            <input type="text" style="width: 80%;">
                            <br>
                            <button>Join</button>
                        </form>
                    </p>
                </div>
                <div class="tile" style="text-align: center;">
                    <h6>{% trans %}app.index.tiles.donate{% endtrans %}</h6>
                    <br>
                    <p>
                        <p>Donate to the Scholarship Fund!</p>
                        <img id="previewImage" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" alt="Preview Image">
                        <br><br>
                        <p>Submit your scholarship application!</p>
                        <a href="#">Click here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
