{% extends "WtsdaAppBundle:Layouts:defaultWithSideBar.html.twig" %}

{% block navActResources %} class="active"{% endblock %}

{% block head_title_tag_page %}Resources{% endblock %}

{% block leftWellContent %}
<h3>Resources</h3>
{% endblock %}
