{% extends "WtsdaAppBundle:Layouts:defaultWithSideBar.html.twig" %}

{% block navActResources %} class="active"{% endblock %}

{% block head_title_tag_page %}{% trans %}app.title.resources.text{% endtrans %}{% endblock %}

{% block leftContent %}
    <h3 class="pageTitle">{% trans %}app.headers.resources.text{% endtrans %}</h3>
    <p>{% trans %}app.debug.filler.bacon{% endtrans %}</p>
{% endblock %}
