{% extends "WtsdaAppBundle:Layouts:defaultWithSideBar.html.twig" %}

{% block navActScholarship %} class="active"{% endblock %}

{% block head_title_tag_page %}{% trans %}app.title.scholarship.text{% endtrans %}{% endblock %}

{% block leftContent %}
<h3>{% trans %}app.headers.scholarship.text{% endtrans %}</h3>
    <p>{% trans %}app.debug.filler.bacon{% endtrans %}</p>
{% endblock %}
