{% extends "WtsdaAppBundle:Layouts:defaultWithSideBar.html.twig" %}

{% block navActScholarship %} class="active"{% endblock %}

{% block head_title_tag_page %}Scholarship{% endblock %}

{% block leftWellContent %}
<h3>Scholarship</h3>
{% endblock %}
